p{
  position: fixed;
  font-family: 'Rubik', sans-serif;
  margin: 0;
  text-shadow: 3px 3px 5px #fff;
  font-size: 6vw;
  color: rgb(255,0,255);
  font-style: italic;
}

#demo{
  display: inline-block;
  top: 50%;
  font-size: 12vw;
  left: 0;
  right: 0;
  letter-spacing: 0;
  font-style: normal;
  text-align: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  
  z-index: 10;
}

#new{
  top: 0;
  left: 0;
}

#website{
  top: 0;
  right: 12px;
}
#coming{
  bottom: 0;
  left: 0;
}
#soon{
  bottom: 0;
  right: 12px;
}

img{
  position: fixed;
  width: 50%;
  z-index: 1;
  top: 50%;
  margin: 0;
  left: 0;
  right: 0;
  margin: auto;

  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}